<h1>部屋一覧</h1>

<ul>
  <% @rooms.each do |room| %>
    <li>
      <h2><%= room.name %></h2>
      <p>
        エリア：<%= room.area %>・
        1泊 <%= number_with_delimiter(room.price) %>円
      </p>
    </li>
  <% end %>
</ul>